fastapi
uvicorn
sqlalchemy[asyncio]
psycopg2-binary
pydantic
pydantic-settings
python-multipart
python-dotenv
requests
websockets
openai
twilio
hume
asyncpg
greenlet
aiosqlite
spacy
googlemaps
httpx
redis
